.fa-fish {
  font-size: 1.5rem;
  margin-right: -.5rem;
}

#jumbotron {
  /* background-color: LightBlue; */
  background: linear-gradient(to top, skyblue, #2f80ed);
  /* padding: 1rem; */
  margin-bottom: 1rem;
  max-height: 20rem;
}

#game-title {
  font-size: 3.4rem;
  margin-top: 1rem;
  position: relative;
  z-index: 2;
}

#cloud-one {
  z-index: 1;
  top: -90px;
  animation: float 42s infinite;
  opacity: .9;
}

#cloud-two {
  z-index: 3;
  top: -50px;
  animation: float 60s infinite;
  transform: scale(1.4);
  opacity: .9;
}

#cloud-three {
  z-index: 2;
  top: -30px;
  animation: float 27s infinite;
  transform: scale(.5);
  opacity: .9;
}

#cloud-four {
  z-index: 1;
  top: -150px;
  animation: float 32s infinite;
  transform: scale(.8);
  opacity: .9;
}

.clouds {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 50%;
  position: relative;
  box-shadow: 60px -40px 1px 1rem white,
              130px -20px 1px .2rem white;
}

.clouds::before {
  width: 5rem;
  height: 3rem;
  background: white;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 130px;
  top: 12px;
  box-shadow: -70px 10px 1px 10px white;
}

@keyframes float {
  0% {
    margin-left: -80%;
  }
  100% {
    margin-left: 110%;
  }
}


#main-content {
  margin: 0 auto;
  max-width: 90%;
}

.card {
  margin-bottom: 2rem;
  overflow-x: scroll;
}

.card-header {
  width: 100%;
}

th {
  border-top: 0px !important;
}

input {
  margin-bottom: 1.2rem;
}

/* input:invalid {
  background-color: rgba(178, 34, 34, 0.5);
} */

#submit-button {
  background: linear-gradient(to bottom, skyblue, #2f80ed);
  border: none;
}

@media screen and (min-width: 80rem) {
  .fa-fish {
    font-size: 2.3rem;
    margin-right: .5rem;
  }

  #jumbotron {
    margin-bottom: 2rem;
    max-height: 24rem;
  }

  #game-title {
    font-size: 5rem;
    margin-top: 1rem;
  }

}
